img {
  height: 300px;
  width:300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

a{
  color: #FF4F00;
}

body {
  background-color: #f4e842;
}

#forumName{
  font-family: helvetica;
  text-align: center;
}

.post{
  background-color: #0B3D91;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.comments{

  background-color: #0B3D91;
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}
