<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Post</title>
      <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <form action="/posts/new" method="POST">
      <label for="posts[img_url]">img url:</label><br>
      <input type="text" name="posts[img_url]"><br>
      <label for="posts[subject]">Subject:</label><br>
      <input type="text" name="posts[subject]"><br>

      <label for="posts[p_content]">Content:</label><br>
      <textarea name="posts[p_content]" rows="8" cols="80"></textarea><br>

      <input type="hidden" name="posts[p_likes]" value="0">
      <input type="hidden" name="posts[num_comments]" value="0"><br>

      <input type="submit" value="Add Post"><br>
    </form>

  </body>
</html>
